
	html,
	body,
	.container{
		margin:0;
		padding:0;
		width:100%;
		height:100%;
		display:flex;
		flex-direction:column;
		
	}
	h1,h2,h3,h4,h5,h6,p,table{
		margin:0;
		padding:0;
	}
	.header,.section,.footer{
		display:flex;
		flex:1;
	}
	.header{
		background-color:blue;
		dispaly:flex;
		flex:1 10%;
	}
	.section{
		background-color:white;
		dispaly:flex;
		flex:1 80%;
		
	}	
	.footer{
		background-color:grey;
		dispaly:flex;
		flex:1 10%;
	}
	